/* 

1. Add your custom Css styles below
2. Place the this code in your template: 

 <link href="css/custom.css" rel="stylesheet">

*/

.text-light{
	color: #fff !important;
}

table.table-bordered td{
	font-size: 12px;
}