/* ----------------------------------------------------------------------
	Default Color HEX Code: #fec51c

    Replace #fec51c with your desired color code

    More color codes: http://www.color-hex.com/color-names.html
-------------------------------------------------------------------------*/

::selection {
  background: #fec51c; }

::-moz-selection {
  background: #fec51c; }

::-webkit-selection {
  background: #fec51c; }

a:hover,
a:focus,
a:active,
#mainMenu nav > ul > li.hover-active > a,
#mainMenu nav > ul > li.hover-active > span,
#mainMenu nav > ul > li.current > a,
#mainMenu nav > ul > li.current > span,
#mainMenu nav > ul > li:hover > a,
#mainMenu nav > ul > li:hover > span,
#mainMenu nav > ul > li:focus > a,
#mainMenu nav > ul > li:focus > span,
#mainMenu nav > ul > li .dropdown-menu > li > a:focus,
#mainMenu nav > ul > li .dropdown-menu > li > a:hover,
#mainMenu nav > ul > li .dropdown-menu > li > a:active,
#mainMenu nav > ul > li .dropdown-menu > li > span:focus,
#mainMenu nav > ul > li .dropdown-menu > li > span:hover,
#mainMenu nav > ul > li .dropdown-menu > li > span:active,
#mainMenu nav > ul > li .dropdown-menu > li [class*="col-"] > ul > li > a:focus,
#mainMenu nav > ul > li .dropdown-menu > li [class*="col-"] > ul > li > a:hover,
#mainMenu nav > ul > li .dropdown-menu > li [class*="col-"] > ul > li > a:active,
#mainMenu nav > ul > li .dropdown-menu > li.current > a,
#mainMenu nav > ul > li .dropdown-menu > li.current > span,
#mainMenu nav > ul > li .dropdown-menu > li:hover > a,
#mainMenu nav > ul > li .dropdown-menu > li:hover > span,
#mainMenu nav > ul > li .dropdown-menu > li:focus > a,
#mainMenu nav > ul > li .dropdown-menu > li:focus > span,
#mainMenu nav > ul > li .dropdown-menu > li:active > a,
#mainMenu nav > ul > li .dropdown-menu > li:active > span,
#mainMenu nav > ul > li .dropdown-menu > li.hover-active > a,
#mainMenu nav > ul > li .dropdown-menu > li.hover-active > span,
#mainMenu.menu-outline nav > ul > li.current > a,
#mainMenu.menu-outline nav > ul > li:hover > a,
#mainMenu.menu-outline nav > ul > li:focus > a,
#mainMenu.menu-lines nav > ul > li.current > a,
#mainMenu.menu-lines nav > ul > li:hover > a,
#mainMenu.menu-lines nav > ul > li:focus > a,
.dark #mainMenu:not(.light):not(.menu-rounded) nav > ul > li .dropdown-menu > li > a:hover,
.dark #mainMenu:not(.light):not(.menu-rounded) nav > ul > li .dropdown-menu > li > span:hover,
.dark #mainMenu:not(.light):not(.menu-rounded) nav > ul > li .dropdown-menu > li [class*="col-"] > ul > li > a:hover,
#mainMenu.dark:not(.light):not(.menu-rounded) nav > ul > li .dropdown-menu > li > a:hover,
#mainMenu.dark:not(.light):not(.menu-rounded) nav > ul > li .dropdown-menu > li > span:hover,
#mainMenu.dark:not(.light):not(.menu-rounded) nav > ul > li .dropdown-menu > li [class*="col-"] > ul > li > a:hover,
.dark #mainMenu:not(.light):not(.menu-rounded) nav > ul > li.current > a,
.dark #mainMenu:not(.light):not(.menu-rounded) nav > ul > li.current > span,
.dark #mainMenu:not(.light):not(.menu-rounded) nav > ul > li:hover > a,
.dark #mainMenu:not(.light):not(.menu-rounded) nav > ul > li:hover > span,
.dark #mainMenu:not(.light):not(.menu-rounded) nav > ul > li:focus > a,
.dark #mainMenu:not(.light):not(.menu-rounded) nav > ul > li:focus > span,
.dark #mainMenu:not(.light):not(.menu-rounded) nav > ul > li.hover-active > a,
.dark #mainMenu:not(.light):not(.menu-rounded) nav > ul > li.hover-active > span,
#mainMenu.dark:not(.light):not(.menu-rounded) nav > ul > li.current > a,
#mainMenu.dark:not(.light):not(.menu-rounded) nav > ul > li.current > span,
#mainMenu.dark:not(.light):not(.menu-rounded) nav > ul > li:hover > a,
#mainMenu.dark:not(.light):not(.menu-rounded) nav > ul > li:hover > span,
#mainMenu.dark:not(.light):not(.menu-rounded) nav > ul > li:focus > a,
#mainMenu.dark:not(.light):not(.menu-rounded) nav > ul > li:focus > span,
#mainMenu.dark:not(.light):not(.menu-rounded) nav > ul > li.hover-active > a,
#mainMenu.dark:not(.light):not(.menu-rounded) nav > ul > li.hover-active > span,
.page-menu.menu-outline nav li:hover a,
.page-menu.menu-outline nav li.active a,
.page-menu.menu-lines nav li:hover a,
.page-menu.menu-lines nav li.active a,
.page-menu.menu-default nav li:hover a,
.page-menu.menu-default nav li.active a,
.page-menu.menu-colored-background nav li:hover a,
.page-menu.menu-colored-background nav li.active a,
.page-menu.inverted li:hover a,
.page-menu.inverted li.active a,
.grid-filter.gf-outline li:hover a,
.grid-filter.gf-outline li.active a,
.grid-filter.gf-lines li:hover a,
.grid-filter.gf-lines li.active a,
.grid-filter.gf-default li:hover a,
.grid-filter.gf-default li.active a,
.post-item .post-quote-img .post-meta-category,
.post-item .post-quote-img .post-meta-category a,
.post-author a,
.comments .comment_number span,
.comments .comment .text .comment-reply-link,
.respond-comment span,
.btn.btn-outline,
.heading-creative strong,
.simple .tabs-navigation li.active a,
.simple .tabs-navigation li.active a:focus,
.simple .tabs-navigation li a:hover,
.feature-box:hover h2,
.feature-box:hover h3,
.feature-box:hover h4,
.list-icon.list-icon-colored li:before,
.list-icon.list-icon-colored i,
.pagination.pagination-simple .active > a,
.pagination.pagination-simple .active > span,
.pagination.pagination-simple .active > a:hover,
.pagination.pagination-simple .active > span:hover,
.pagination.pagination-simple .active > a:focus,
.pagination.pagination-simple .active > span:focus,
.post-navigation a:hover,
.call-to-action h3 span,
.item-link,
.item-link:hover,
.widget-tweeter li a,
.widget-twitter li a {
  color: #fec51c; }

#topbar.topbar-colored,
#topbar.topbar-colored.dark,
#header.header-colored #header-wrap,
#header.header-modern:not(.header-active).header-colored #header-wrap,
#mainMenu.menu-rounded nav > ul > li.current > a,
#mainMenu.menu-rounded nav > ul > li:hover > a,
#mainMenu.menu-rounded nav > ul > li:focus > a,
#mainMenu.menu-lines nav > ul > li.current > a:after,
#mainMenu.menu-lines nav > ul > li:hover > a:after,
#mainMenu.menu-lines nav > ul > li:focus > a:after,
#mainMenu.menu-hover-background nav > ul > li.current,
#mainMenu.menu-hover-background nav > ul > li:hover,
#mainMenu.menu-hover-background nav > ul > li:focus,
#dotsMenu ul li:hover,
#dotsMenu ul li.current,
#dotsMenu ul li a:hover:before,
#dotsMenu ul li a.active:before,
.page-menu.menu-lines nav li:hover a:after,
.page-menu.menu-lines nav li.active a:after,
.page-menu.menu-classic nav li:hover a,
.page-menu.menu-classic nav li.active a,
.page-menu.menu-colored-background,
.grid-filter li:hover a,
.grid-filter li.active a,
.grid-filter.gf-lines li:hover a:after,
.grid-filter.gf-lines li.active a:after,
.grid-filter.gf-classic li:hover a,
.grid-filter.gf-classic li.active a,
.portfolio-item .portfolio-description a:hover i,
.portfolio-item .grid-description a:hover i,
.grid-item .portfolio-description a:hover i,
.grid-item .grid-description a:hover i,
.post-item.quote .post-item-wrap,
.post-item .post-image .post-meta-category,
.post-item .post-slider .post-meta-category,
.post-item .post-video .post-meta-category,
.post-item .post-audio .post-meta-category,
.post-item .post-quote-img .post-meta-category,
.forum thead tr > th,
.btn,
.btn.btn-outline:hover,
.btn.btn-outline:focus,
.btn.btn-outline:active,
.btn.btn-outline.active,
.btn.btn-light:hover,
.btn.btn-light:focus,
.btn.btn-light:active,
.btn.btn-light.active,
.btn.btn-dark:hover,
.btn.btn-dark:focus,
.btn.btn-dark:active,
.btn.btn-dark.active,
.icon-box.effect.dark .icon i:hover,
.icon-box.effect.dark:hover .icon i,
.owl-carousel .owl-nav [class*="owl-"]:hover,
.owl-carousel.arrows-creative .owl-nav [class*="owl-"]:hover,
.dropcap.dropcap-colored,
.highlight.highlight-colored,
.progress-bar,
.blockquote-color,
.call-to-action.call-to-action-colored,
.modal-strip,
.pricing-table.colored .plan-header,
.single9:before,
.background-colored,
#scrollTop:after, #scrollTop:before,
.tags a.active, .tags a:active, .tags a:focus, .tags a:hover {
  background-color: #fec51c; }

#header .header-extras #shopping-cart > a .shopping-cart-items,
.text-box.text-box-light:hover,
.mfp-ajax-holder .mfp-close:hover,
.spinner .bar:after,
.ball-grid-pulse > div,
.loader01:after,
.square-spin > div,
.loader04:after,
.ball-rotate > div,
.ball-rotate > div:after,
.ball-rotate > div:before,
.cube-transition > div,
.ball-zig-zag > div,
.ball-triangle-path > div,
.line-scale > div,
.ball-scale-multiple > div,
.ball-pulse-sync > div,
.ball-beat > div,
.line-scale-pulse-out-rapid > div,
.ball-spin-fade-loader > div,
.line-spin-fade-loader > div,
.pacman > div:nth-child(3),
.pacman > div:nth-child(4),
.pacman > div:nth-child(5),
.pacman > div:nth-child(6),
.ball-grid-beat > div,
.spinner .bar:after,
.border .tabs-navigation li.active a:after,
.color .tabs-navigation li.active a {
  background: #fec51c; }

#mainMenu.menu-outline nav > ul > li.current > a,
#mainMenu.menu-outline nav > ul > li:hover > a,
#mainMenu.menu-outline nav > ul > li:focus > a,
.page-menu.menu-outline nav li:hover a,
.page-menu.menu-outline nav li.active a,
.grid-filter.gf-outline li:hover a,
.grid-filter.gf-outline li.active a,
.btn,
.btn.btn-outline:not(.btn-dark):not(.btn-light),
.btn.btn-outline:not(.btn-dark):not(.btn-light):hover,
.btn.btn-outline:not(.btn-dark):not(.btn-light):focus,
.btn.btn-outline:not(.btn-dark):not(.btn-light):active,
.btn.btn-outline:not(.btn-dark):not(.btn-light).active,
.btn.btn-light:not(.btn-outline):not(.btn-icon-holder):hover,
.btn.btn-light:not(.btn-outline):not(.btn-icon-holder):focus,
.btn.btn-light:not(.btn-outline):not(.btn-icon-holder):active,
.btn.btn-light:not(.btn-outline):not(.btn-icon-holder).active,
.btn.btn-dark:not(.btn-outline):not(.btn-icon-holder):hover,
.btn.btn-dark:not(.btn-outline):not(.btn-icon-holder):focus,
.btn.btn-dark:not(.btn-outline):not(.btn-icon-holder):active,
.btn.btn-dark:not(.btn-outline):not(.btn-icon-holder).active,
.simple .tabs-navigation li.active a,
.simple .tabs-navigation li.active a:focus,
.simple .tabs-navigation li a:hover,
.owl-carousel .owl-nav [class*="owl-"]:hover,
.spinner .bar,
.ball-scale-ripple-multiple > div,
.spinner .bar,
.tags a.active, .tags a:active, .tags a:focus, .tags a:hover {
  border-color: #fec51c; }

.portfolio-item .portfolio-description a:hover i,
.portfolio-item .grid-description a:hover i,
.grid-item .portfolio-description a:hover i,
.grid-item .grid-description a:hover i {
  border: 1px solid #fec51c; }

.btn.btn-icon-holder.btn-outline:before {
  border-left: 2px solid #fec51c; }

.fancy-title.title-border-color:before {
  border-top: 1px solid #fec51c; }

.icon-box.effect.dark .icon i:after {
  box-shadow: 0 0 0 3px #fec51c; }

blockquote {
  border-left: 3px solid #fec51c; }

.loader01,
.pacman > div:first-of-type,
.pacman > div:nth-child(2) {
  border-color: #fec51c transparent #fec51c #fec51c; }

.bootstrap-datetimepicker-widget table td.active.today,
.bootstrap-datetimepicker-widget table td.active,
.bootstrap-datetimepicker-widget table td.active:hover,
.bootstrap-datetimepicker-widget .datepicker-decades .decade {
  background-color: #fec51c !important; }

.btn:hover, .btn:focus, .btn:active, .btn.active {
  background-color: #fec51c;
  border-color: #fec51c; }
